.App {
  width: 100%;
}

.main {
  margin: 10vh 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  color: #191970;
  width: 40vw;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
  color: #191970; 
  border-color: #191970;
  border-width: 1px;
  width: 200px;
}

input::placeholder {
  color: #191970;
}

button {
  color: #191970; 
  border-color: #191970;
  border-width: 1px;
}

.inputFileContainer {
  padding:5px;
  font-size: 13px;
  font-weight: 500;
  background-color: white;
  color: #191970; 
  border: 1px solid #191970;
  position: relative;
  text-align: center;
  float: left;
  cursor: pointer;
  width: 120px;
}

.file {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

label {
  font-size: 13px;
  font-weight: 500;
  padding-left: 10px;
  vertical-align: middle;
}